<!-- update news form start -->

  <!-- Modal -->
  <div class="modal fade" id="updatenewsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <form method="post" id="update_news" enctype="multipart/form-data">{% csrf_token %}
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update News</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="{{ updatenewsform.title.id_for_label }}" class="form-label">{{ updatenewsform.title.label }}</label><span class="text-danger">*</span>
              {{updatenewsform.title}}
              <small class="text-danger" id="updatenewstitleerror"></small>
              </div>
              <div class="mb-3">
                <label for="{{ updatenewsform.description.id_for_label }}" class="form-label">{{ updatenewsform.description.label }}</label><span class="text-danger">*</span>
              {{updatenewsform.description}}
              <small class="text-danger" id="updatenewsdescriptionerror"></small>
              </div>
              <div class="mb-3">
                <p>Current Image:</p>
                <img src="" alt="Current Image" class="img-thumbnail custom-image-size" id="updatenewsimage">
              </div>
              <div class="mb-3">
                <label for="{{ updatenewsform.image.id_for_label }}" class="form-label">{{ updatenewsform.image.label }}</label><span class="text-danger">*</span>
              {{updatenewsform.image}}
              <small class="text-danger" id="updatenewsimageerror"></small>
              </div>
              <div class="mb-3">
                <label for="{{ updatenewsform.category.id_for_label }}" class="form-label">{{ updatenewsform.category.label }}</label><span class="text-danger">*</span>
              {{updatenewsform.category}}
              <small class="text-danger" id="updatenewscategoryerror"></small>
              </div>
              <div class="mb-3 terms_and_conditions">
              <strong>Disclaimer:</strong>
              <p class="text-justify">
                 The website owner does not verify the accuracy or reliability of news articles posted on this website. Administrators are solely responsible for ensuring the accuracy and reliability of the information they publish. Administrators bear full responsibility for any inaccuracies or misleading content in the articles they submit.
              </p>
              {{updatenewsform.is_acknowledge}}
              <label class="form-check-label"><span class="text-danger">*</span>
                I acknowledge that I have reviewed the disclaimer and hereby accept its terms and conditions.
              </label><br>
              <small class="text-danger" id="updatenewsacknowledgeerror"></small>          
              </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Update News</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  
<!-- update news form end -->